Name: Osama Sidahmed

Date: 07 Nov 2021

### Discription (From the dataset author)

**Context**

3D object representations are valuable resources for multi-view object class detection and scene understanding. Fine-grained recognition is a growing subfield of computer vision that has many real-world applications on distinguishing subtle appearances differences. This cars dataset contains great training and testing sets for forming models that can tell cars from one another. Data originated from Stanford University AI Lab (specific reference below in Acknowledgment section).

**Content**

The Cars dataset contains 16,185 images of 196 classes of cars. The data is split into 8,144 training images and 8,041 testing images, where each class has been split roughly in a 50-50 split. Classes are typically at the level of Make, Model, Year, ex. 2012 Tesla Model S or 2012 BMW M3 coupe.

**Acknowledgements**

Data source and banner image: http://ai.stanford.edu/~jkrause/cars/car_dataset.html contains all bounding boxes and labels for both training and tests.

If you use this dataset, please cite the following paper:

3D Object Representations for Fine-Grained Categorization

Jonathan Krause, Michael Stark, Jia Deng, Li Fei-Fei

4th IEEE Workshop on 3D Representation and Recognition, at ICCV 2013 (3dRR-13). Sydney, Australia. Dec. 8, 2013.

An overview of the dataset is available [here](https://ai.stanford.edu/~jkrause/cars/car_dataset.html).

### Objective

The main objective of this project is develop a CNN algorithm that differentiates between the different 196 classes using Tensorflow. Some examples of the classes are:

        'Audi TT Hatchback 2011', 
        'Audi S6 Sedan 2011'
        'Audi S5 Convertible 2012', 
        'Audi S5 Coupe 2012'
        'Audi TT RS Coupe 2012', 
        'BMW ActiveHybrid 5 Sedan 2012'
        'BMW 6 Series Convertible 2007', 
        'BMW X5 SUV 2007'
        
The class description is a combination of the make, model and the year.

### Exploratory Data Analysis

On this section we will try to better understand the data and spot some clear patterns.

In [1]:
# Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

It has been noticed that the file containing the data classification is provided in a .mat file that we need to process to be able to read the data stored in it.

In [2]:
# import loadmat from scipy to read the .mat file
from scipy.io import loadmat

In [3]:
# load the .mat file
mat = loadmat('data/cars_annos.mat', squeeze_me=True)

In [5]:
type(mat)

dict

The outcome is a dictionary, we can extract the data from the dictionary.

In [6]:
mat

{'__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Sat Feb 28 19:34:55 2015',
 '__version__': '1.0',
 '__globals__': [],
 'annotations': array([('car_ims/000001.jpg', 112, 7, 853, 717, 1, 0),
        ('car_ims/000002.jpg', 48, 24, 441, 202, 1, 0),
        ('car_ims/000003.jpg', 7, 4, 277, 180, 1, 0), ...,
        ('car_ims/016183.jpg', 25, 32, 587, 359, 196, 1),
        ('car_ims/016184.jpg', 56, 60, 208, 186, 196, 1),
        ('car_ims/016185.jpg', 1, 1, 200, 131, 196, 1)],
       dtype=[('relative_im_path', 'O'), ('bbox_x1', 'O'), ('bbox_y1', 'O'), ('bbox_x2', 'O'), ('bbox_y2', 'O'), ('class', 'O'), ('test', 'O')]),
 'class_names': array(['AM General Hummer SUV 2000', 'Acura RL Sedan 2012',
        'Acura TL Sedan 2012', 'Acura TL Type-S 2008',
        'Acura TSX Sedan 2012', 'Acura Integra Type R 2001',
        'Acura ZDX Hatchback 2012',
        'Aston Martin V8 Vantage Convertible 2012',
        'Aston Martin V8 Vantage Coupe 2012',
        'Aston Martin Virage Convertible 2012',
        'Aston Martin Virage Coupe 2012', 'Audi RS 4 Convertible 2008',
        'Audi A5 Coupe 2012', 'Audi TTS Coupe 2012', 'Audi R8 Coupe 2012',
        'Audi V8 Sedan 1994', 'Audi 100 Sedan 1994', 'Audi 100 Wagon 1994',
        'Audi TT Hatchback 2011', 'Audi S6 Sedan 2011',
        'Audi S5 Convertible 2012', 'Audi S5 Coupe 2012',
        'Audi S4 Sedan 2012', 'Audi S4 Sedan 2007',
        'Audi TT RS Coupe 2012', 'BMW ActiveHybrid 5 Sedan 2012',
        'BMW 1 Series Convertible 2012', 'BMW 1 Series Coupe 2012',
        'BMW 3 Series Sedan 2012', 'BMW 3 Series Wagon 2012',
        'BMW 6 Series Convertible 2007', 'BMW X5 SUV 2007',
        'BMW X6 SUV 2012', 'BMW M3 Coupe 2012', 'BMW M5 Sedan 2010',
        'BMW M6 Convertible 2010', 'BMW X3 SUV 2012',
        'BMW Z4 Convertible 2012',
        'Bentley Continental Supersports Conv. Convertible 2012',
        'Bentley Arnage Sedan 2009', 'Bentley Mulsanne Sedan 2011',
        'Bentley Continental GT Coupe 2012',
        'Bentley Continental GT Coupe 2007',
        'Bentley Continental Flying Spur Sedan 2007',
        'Bugatti Veyron 16.4 Convertible 2009',
        'Bugatti Veyron 16.4 Coupe 2009', 'Buick Regal GS 2012',
        'Buick Rainier SUV 2007', 'Buick Verano Sedan 2012',
        'Buick Enclave SUV 2012', 'Cadillac CTS-V Sedan 2012',
        'Cadillac SRX SUV 2012', 'Cadillac Escalade EXT Crew Cab 2007',
        'Chevrolet Silverado 1500 Hybrid Crew Cab 2012',
        'Chevrolet Corvette Convertible 2012',
        'Chevrolet Corvette ZR1 2012',
        'Chevrolet Corvette Ron Fellows Edition Z06 2007',
        'Chevrolet Traverse SUV 2012', 'Chevrolet Camaro Convertible 2012',
        'Chevrolet HHR SS 2010', 'Chevrolet Impala Sedan 2007',
        'Chevrolet Tahoe Hybrid SUV 2012', 'Chevrolet Sonic Sedan 2012',
        'Chevrolet Express Cargo Van 2007',
        'Chevrolet Avalanche Crew Cab 2012', 'Chevrolet Cobalt SS 2010',
        'Chevrolet Malibu Hybrid Sedan 2010',
        'Chevrolet TrailBlazer SS 2009',
        'Chevrolet Silverado 2500HD Regular Cab 2012',
        'Chevrolet Silverado 1500 Classic Extended Cab 2007',
        'Chevrolet Express Van 2007', 'Chevrolet Monte Carlo Coupe 2007',
        'Chevrolet Malibu Sedan 2007',
        'Chevrolet Silverado 1500 Extended Cab 2012',
        'Chevrolet Silverado 1500 Regular Cab 2012',
        'Chrysler Aspen SUV 2009', 'Chrysler Sebring Convertible 2010',
        'Chrysler Town and Country Minivan 2012',
        'Chrysler 300 SRT-8 2010', 'Chrysler Crossfire Convertible 2008',
        'Chrysler PT Cruiser Convertible 2008', 'Daewoo Nubira Wagon 2002',
        'Dodge Caliber Wagon 2012', 'Dodge Caliber Wagon 2007',
        'Dodge Caravan Minivan 1997',
        'Dodge Ram Pickup 3500 Crew Cab 2010',
        'Dodge Ram Pickup 3500 Quad Cab 2009',
        'Dodge Sprinter Cargo Van 2009', 'Dodge Journey SUV 2012',
        'Dodge Dakota Crew Cab 2010', 'Dodge Dakota Club Cab 2007',
        'Dodge Magnum Wagon 2008', 'Dodge Challenger SRT8 2011',
        'Dodge Durango SUV 2012', 'Dodge Durango SUV 2007',
        'Dodge Charger Sedan 2012', 'Dodge Charger SRT-8 2009',
        'Eagle Talon Hatchback 1998', 'FIAT 500 Abarth 2012',
        'FIAT 500 Convertible 2012', 'Ferrari FF Coupe 2012',
        'Ferrari California Convertible 2012',
        'Ferrari 458 Italia Convertible 2012',
        'Ferrari 458 Italia Coupe 2012', 'Fisker Karma Sedan 2012',
        'Ford F-450 Super Duty Crew Cab 2012',
        'Ford Mustang Convertible 2007', 'Ford Freestar Minivan 2007',
        'Ford Expedition EL SUV 2009', 'Ford Edge SUV 2012',
        'Ford Ranger SuperCab 2011', 'Ford GT Coupe 2006',
        'Ford F-150 Regular Cab 2012', 'Ford F-150 Regular Cab 2007',
        'Ford Focus Sedan 2007', 'Ford E-Series Wagon Van 2012',
        'Ford Fiesta Sedan 2012', 'GMC Terrain SUV 2012',
        'GMC Savana Van 2012', 'GMC Yukon Hybrid SUV 2012',
        'GMC Acadia SUV 2012', 'GMC Canyon Extended Cab 2012',
        'Geo Metro Convertible 1993', 'HUMMER H3T Crew Cab 2010',
        'HUMMER H2 SUT Crew Cab 2009', 'Honda Odyssey Minivan 2012',
        'Honda Odyssey Minivan 2007', 'Honda Accord Coupe 2012',
        'Honda Accord Sedan 2012', 'Hyundai Veloster Hatchback 2012',
        'Hyundai Santa Fe SUV 2012', 'Hyundai Tucson SUV 2012',
        'Hyundai Veracruz SUV 2012', 'Hyundai Sonata Hybrid Sedan 2012',
        'Hyundai Elantra Sedan 2007', 'Hyundai Accent Sedan 2012',
        'Hyundai Genesis Sedan 2012', 'Hyundai Sonata Sedan 2012',
        'Hyundai Elantra Touring Hatchback 2012',
        'Hyundai Azera Sedan 2012', 'Infiniti G Coupe IPL 2012',
        'Infiniti QX56 SUV 2011', 'Isuzu Ascender SUV 2008',
        'Jaguar XK XKR 2012', 'Jeep Patriot SUV 2012',
        'Jeep Wrangler SUV 2012', 'Jeep Liberty SUV 2012',
        'Jeep Grand Cherokee SUV 2012', 'Jeep Compass SUV 2012',
        'Lamborghini Reventon Coupe 2008',
        'Lamborghini Aventador Coupe 2012',
        'Lamborghini Gallardo LP 570-4 Superleggera 2012',
        'Lamborghini Diablo Coupe 2001', 'Land Rover Range Rover SUV 2012',
        'Land Rover LR2 SUV 2012', 'Lincoln Town Car Sedan 2011',
        'MINI Cooper Roadster Convertible 2012',
        'Maybach Landaulet Convertible 2012', 'Mazda Tribute SUV 2011',
        'McLaren MP4-12C Coupe 2012',
        'Mercedes-Benz 300-Class Convertible 1993',
        'Mercedes-Benz C-Class Sedan 2012',
        'Mercedes-Benz SL-Class Coupe 2009',
        'Mercedes-Benz E-Class Sedan 2012',
        'Mercedes-Benz S-Class Sedan 2012',
        'Mercedes-Benz Sprinter Van 2012', 'Mitsubishi Lancer Sedan 2012',
        'Nissan Leaf Hatchback 2012', 'Nissan NV Passenger Van 2012',
        'Nissan Juke Hatchback 2012', 'Nissan 240SX Coupe 1998',
        'Plymouth Neon Coupe 1999', 'Porsche Panamera Sedan 2012',
        'Ram C/V Cargo Van Minivan 2012',
        'Rolls-Royce Phantom Drophead Coupe Convertible 2012',
        'Rolls-Royce Ghost Sedan 2012', 'Rolls-Royce Phantom Sedan 2012',
        'Scion xD Hatchback 2012', 'Spyker C8 Convertible 2009',
        'Spyker C8 Coupe 2009', 'Suzuki Aerio Sedan 2007',
        'Suzuki Kizashi Sedan 2012', 'Suzuki SX4 Hatchback 2012',
        'Suzuki SX4 Sedan 2012', 'Tesla Model S Sedan 2012',
        'Toyota Sequoia SUV 2012', 'Toyota Camry Sedan 2012',
        'Toyota Corolla Sedan 2012', 'Toyota 4Runner SUV 2012',
        'Volkswagen Golf Hatchback 2012', 'Volkswagen Golf Hatchback 1991',
        'Volkswagen Beetle Hatchback 2012', 'Volvo C30 Hatchback 2012',
        'Volvo 240 Sedan 1993', 'Volvo XC90 SUV 2007',
        'smart fortwo Convertible 2012'], dtype=object)}

We are only interested in the 'annotations' and the 'class_names' values.

In [10]:
mat['annotations']

array([('car_ims/000001.jpg', 112, 7, 853, 717, 1, 0),
       ('car_ims/000002.jpg', 48, 24, 441, 202, 1, 0),
       ('car_ims/000003.jpg', 7, 4, 277, 180, 1, 0), ...,
       ('car_ims/016183.jpg', 25, 32, 587, 359, 196, 1),
       ('car_ims/016184.jpg', 56, 60, 208, 186, 196, 1),
       ('car_ims/016185.jpg', 1, 1, 200, 131, 196, 1)],
      dtype=[('relative_im_path', 'O'), ('bbox_x1', 'O'), ('bbox_y1', 'O'), ('bbox_x2', 'O'), ('bbox_y2', 'O'), ('class', 'O'), ('test', 'O')])

In [47]:
mat['class_names']

array(['AM General Hummer SUV 2000', 'Acura RL Sedan 2012',
       'Acura TL Sedan 2012', 'Acura TL Type-S 2008',
       'Acura TSX Sedan 2012', 'Acura Integra Type R 2001',
       'Acura ZDX Hatchback 2012',
       'Aston Martin V8 Vantage Convertible 2012',
       'Aston Martin V8 Vantage Coupe 2012',
       'Aston Martin Virage Convertible 2012',
       'Aston Martin Virage Coupe 2012', 'Audi RS 4 Convertible 2008',
       'Audi A5 Coupe 2012', 'Audi TTS Coupe 2012', 'Audi R8 Coupe 2012',
       'Audi V8 Sedan 1994', 'Audi 100 Sedan 1994', 'Audi 100 Wagon 1994',
       'Audi TT Hatchback 2011', 'Audi S6 Sedan 2011',
       'Audi S5 Convertible 2012', 'Audi S5 Coupe 2012',
       'Audi S4 Sedan 2012', 'Audi S4 Sedan 2007',
       'Audi TT RS Coupe 2012', 'BMW ActiveHybrid 5 Sedan 2012',
       'BMW 1 Series Convertible 2012', 'BMW 1 Series Coupe 2012',
       'BMW 3 Series Sedan 2012', 'BMW 3 Series Wagon 2012',
       'BMW 6 Series Convertible 2007', 'BMW X5 SUV 2007',
       'BMW X6 SUV 2012', 'BMW M3 Coupe 2012', 'BMW M5 Sedan 2010',
       'BMW M6 Convertible 2010', 'BMW X3 SUV 2012',
       'BMW Z4 Convertible 2012',
       'Bentley Continental Supersports Conv. Convertible 2012',
       'Bentley Arnage Sedan 2009', 'Bentley Mulsanne Sedan 2011',
       'Bentley Continental GT Coupe 2012',
       'Bentley Continental GT Coupe 2007',
       'Bentley Continental Flying Spur Sedan 2007',
       'Bugatti Veyron 16.4 Convertible 2009',
       'Bugatti Veyron 16.4 Coupe 2009', 'Buick Regal GS 2012',
       'Buick Rainier SUV 2007', 'Buick Verano Sedan 2012',
       'Buick Enclave SUV 2012', 'Cadillac CTS-V Sedan 2012',
       'Cadillac SRX SUV 2012', 'Cadillac Escalade EXT Crew Cab 2007',
       'Chevrolet Silverado 1500 Hybrid Crew Cab 2012',
       'Chevrolet Corvette Convertible 2012',
       'Chevrolet Corvette ZR1 2012',
       'Chevrolet Corvette Ron Fellows Edition Z06 2007',
       'Chevrolet Traverse SUV 2012', 'Chevrolet Camaro Convertible 2012',
       'Chevrolet HHR SS 2010', 'Chevrolet Impala Sedan 2007',
       'Chevrolet Tahoe Hybrid SUV 2012', 'Chevrolet Sonic Sedan 2012',
       'Chevrolet Express Cargo Van 2007',
       'Chevrolet Avalanche Crew Cab 2012', 'Chevrolet Cobalt SS 2010',
       'Chevrolet Malibu Hybrid Sedan 2010',
       'Chevrolet TrailBlazer SS 2009',
       'Chevrolet Silverado 2500HD Regular Cab 2012',
       'Chevrolet Silverado 1500 Classic Extended Cab 2007',
       'Chevrolet Express Van 2007', 'Chevrolet Monte Carlo Coupe 2007',
       'Chevrolet Malibu Sedan 2007',
       'Chevrolet Silverado 1500 Extended Cab 2012',
       'Chevrolet Silverado 1500 Regular Cab 2012',
       'Chrysler Aspen SUV 2009', 'Chrysler Sebring Convertible 2010',
       'Chrysler Town and Country Minivan 2012',
       'Chrysler 300 SRT-8 2010', 'Chrysler Crossfire Convertible 2008',
       'Chrysler PT Cruiser Convertible 2008', 'Daewoo Nubira Wagon 2002',
       'Dodge Caliber Wagon 2012', 'Dodge Caliber Wagon 2007',
       'Dodge Caravan Minivan 1997',
       'Dodge Ram Pickup 3500 Crew Cab 2010',
       'Dodge Ram Pickup 3500 Quad Cab 2009',
       'Dodge Sprinter Cargo Van 2009', 'Dodge Journey SUV 2012',
       'Dodge Dakota Crew Cab 2010', 'Dodge Dakota Club Cab 2007',
       'Dodge Magnum Wagon 2008', 'Dodge Challenger SRT8 2011',
       'Dodge Durango SUV 2012', 'Dodge Durango SUV 2007',
       'Dodge Charger Sedan 2012', 'Dodge Charger SRT-8 2009',
       'Eagle Talon Hatchback 1998', 'FIAT 500 Abarth 2012',
       'FIAT 500 Convertible 2012', 'Ferrari FF Coupe 2012',
       'Ferrari California Convertible 2012',
       'Ferrari 458 Italia Convertible 2012',
       'Ferrari 458 Italia Coupe 2012', 'Fisker Karma Sedan 2012',
       'Ford F-450 Super Duty Crew Cab 2012',
       'Ford Mustang Convertible 2007', 'Ford Freestar Minivan 2007',
       'Ford Expedition EL SUV 2009', 'Ford Edge SUV 2012',
       'Ford Ranger SuperCab 2011', 'Ford GT Coupe 2006',
       'Ford F-150 Regular Cab 2012', 'Ford F-150 Regular Cab 2007',
       'Ford Focus Sedan 2007', 'Ford E-Series Wagon Van 2012',
       'Ford Fiesta Sedan 2012', 'GMC Terrain SUV 2012',
       'GMC Savana Van 2012', 'GMC Yukon Hybrid SUV 2012',
       'GMC Acadia SUV 2012', 'GMC Canyon Extended Cab 2012',
       'Geo Metro Convertible 1993', 'HUMMER H3T Crew Cab 2010',
       'HUMMER H2 SUT Crew Cab 2009', 'Honda Odyssey Minivan 2012',
       'Honda Odyssey Minivan 2007', 'Honda Accord Coupe 2012',
       'Honda Accord Sedan 2012', 'Hyundai Veloster Hatchback 2012',
       'Hyundai Santa Fe SUV 2012', 'Hyundai Tucson SUV 2012',
       'Hyundai Veracruz SUV 2012', 'Hyundai Sonata Hybrid Sedan 2012',
       'Hyundai Elantra Sedan 2007', 'Hyundai Accent Sedan 2012',
       'Hyundai Genesis Sedan 2012', 'Hyundai Sonata Sedan 2012',
       'Hyundai Elantra Touring Hatchback 2012',
       'Hyundai Azera Sedan 2012', 'Infiniti G Coupe IPL 2012',
       'Infiniti QX56 SUV 2011', 'Isuzu Ascender SUV 2008',
       'Jaguar XK XKR 2012', 'Jeep Patriot SUV 2012',
       'Jeep Wrangler SUV 2012', 'Jeep Liberty SUV 2012',
       'Jeep Grand Cherokee SUV 2012', 'Jeep Compass SUV 2012',
       'Lamborghini Reventon Coupe 2008',
       'Lamborghini Aventador Coupe 2012',
       'Lamborghini Gallardo LP 570-4 Superleggera 2012',
       'Lamborghini Diablo Coupe 2001', 'Land Rover Range Rover SUV 2012',
       'Land Rover LR2 SUV 2012', 'Lincoln Town Car Sedan 2011',
       'MINI Cooper Roadster Convertible 2012',
       'Maybach Landaulet Convertible 2012', 'Mazda Tribute SUV 2011',
       'McLaren MP4-12C Coupe 2012',
       'Mercedes-Benz 300-Class Convertible 1993',
       'Mercedes-Benz C-Class Sedan 2012',
       'Mercedes-Benz SL-Class Coupe 2009',
       'Mercedes-Benz E-Class Sedan 2012',
       'Mercedes-Benz S-Class Sedan 2012',
       'Mercedes-Benz Sprinter Van 2012', 'Mitsubishi Lancer Sedan 2012',
       'Nissan Leaf Hatchback 2012', 'Nissan NV Passenger Van 2012',
       'Nissan Juke Hatchback 2012', 'Nissan 240SX Coupe 1998',
       'Plymouth Neon Coupe 1999', 'Porsche Panamera Sedan 2012',
       'Ram C/V Cargo Van Minivan 2012',
       'Rolls-Royce Phantom Drophead Coupe Convertible 2012',
       'Rolls-Royce Ghost Sedan 2012', 'Rolls-Royce Phantom Sedan 2012',
       'Scion xD Hatchback 2012', 'Spyker C8 Convertible 2009',
       'Spyker C8 Coupe 2009', 'Suzuki Aerio Sedan 2007',
       'Suzuki Kizashi Sedan 2012', 'Suzuki SX4 Hatchback 2012',
       'Suzuki SX4 Sedan 2012', 'Tesla Model S Sedan 2012',
       'Toyota Sequoia SUV 2012', 'Toyota Camry Sedan 2012',
       'Toyota Corolla Sedan 2012', 'Toyota 4Runner SUV 2012',
       'Volkswagen Golf Hatchback 2012', 'Volkswagen Golf Hatchback 1991',
       'Volkswagen Beetle Hatchback 2012', 'Volvo C30 Hatchback 2012',
       'Volvo 240 Sedan 1993', 'Volvo XC90 SUV 2007',
       'smart fortwo Convertible 2012'], dtype=object)

In [45]:
# This is how to extract the datatypes to use as dataframes header
mat['annotations'].dtype.descr[0][0]

'relative_im_path'

In [126]:
# extract the data from the .mat file and store it in a two (2) separate datframes

df_1_header = list()

# loop through 2 levels of the dictionary, each level will go in a different dataframe
for level in mat:
    if level == 'annotations':
    
        # on the first level we need to extract the dscription ('relative_im_path', 'O') and store that in a list as header
        df_1_header = [x[0] for x in mat['annotations'].dtype.descr]

        # and extract the values ('car_ims/000001.jpg', 112, 7, 853, 717, 1, 0) and store that in lists representing the columns
        df_1_values_0 = [x[0] for x in mat['annotations']]
        df_1_values_1 = [x[1] for x in mat['annotations']]
        df_1_values_2 = [x[2] for x in mat['annotations']]
        df_1_values_3 = [x[3] for x in mat['annotations']]
        df_1_values_4 = [x[4] for x in mat['annotations']]
        df_1_values_5 = [x[5] for x in mat['annotations']]
        df_1_values_6 = [x[6] for x in mat['annotations']]
        
        # create a dataframe
        df_bounding_box = pd.DataFrame(list(zip(df_1_values_0, df_1_values_1,
                                               df_1_values_2,df_1_values_3,
                                               df_1_values_4,df_1_values_5,
                                               df_1_values_6)), columns = df_1_header)


    # on the second level, we will store the class (196 classes) on separate dataframe
    if level == 'class_names':
        classes = np.arange(1,len(mat['class_names'])+1)
        df_classes = pd.DataFrame(list(zip(classes, mat['class_names'])), columns = ['class', 'name'])

In [154]:
df_bounding_box

         relative_im_path  bbox_x1  bbox_y1  bbox_x2  bbox_y2  class  test
0      car_ims/000001.jpg      112        7      853      717      1     0
1      car_ims/000002.jpg       48       24      441      202      1     0
2      car_ims/000003.jpg        7        4      277      180      1     0
3      car_ims/000004.jpg       33       50      197      150      1     0
4      car_ims/000005.jpg        5        8       83       58      1     0
...                   ...      ...      ...      ...      ...    ...   ...
16180  car_ims/016181.jpg       38       36      375      234    196     1
16181  car_ims/016182.jpg       29       34      235      164    196     1
16182  car_ims/016183.jpg       25       32      587      359    196     1
16183  car_ims/016184.jpg       56       60      208      186    196     1
16184  car_ims/016185.jpg        1        1      200      131    196     1

[16185 rows x 7 columns]

In [150]:
df_classes

     class                              name
0        1        AM General Hummer SUV 2000
1        2               Acura RL Sedan 2012
2        3               Acura TL Sedan 2012
3        4              Acura TL Type-S 2008
4        5              Acura TSX Sedan 2012
..     ...                               ...
191    192  Volkswagen Beetle Hatchback 2012
192    193          Volvo C30 Hatchback 2012
193    194              Volvo 240 Sedan 1993
194    195               Volvo XC90 SUV 2007
195    196     smart fortwo Convertible 2012

[196 rows x 2 columns]

### Modelling and Evaluation